<div class="center-block w-xl w-auto-xs m-b-lg" style="width: 600px;">

  <form name="form" class="m-v-md p-v-md" >
    <div class="form-group m-b-xs">
      <label class="hide">标题: &nbsp;&nbsp;</label>
      <input type="text" placeholder="请填写标题" class="form-control" style="width:60%" required>
    </div>
    <div class="form-group m-b-xs">
      <label class="hide">newPassword</label>
      <div text-angular ng-model="htmlVariable" class="b-t m-t-md"></div>
    </div>
    <div class="form-group m-b-xs text-center">
      <button type="submit" class="btn btn-primary btn-sm p-h-md m-v-lg m-r-lg">预览</button>
      <button type="submit" class="btn btn-primary btn-sm p-h-md m-v-lg m-l-lg">保存</button>
    </div>
  </form>
</div>