<div class="center-block w-xl w-auto-xs m-b-lg" style="width: 600px;">
  <form class="form-horizontal m-v-md" name="form">
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">终端类型:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 300px">
          <div class="radio pull-left">
            <label class="ui-checks">
              <input type="radio" name="b" value="weker" ng-model="e">
              <i></i>
              Weker
            </label>
          </div>
          <div class="radio pull-left m-l-md">
            <label class="ui-checks">
              <input type="radio" name="b" value="weker_assistant" ng-model="e">
              <i></i>
              Weker小助手
            </label>
          </div>
          <div class="radio pull-left m-l-md">
            <label class="ui-checks">
              <input type="radio" name="b" value="weker_talkback" ng-model="e">
              <i></i>
              Weker云对讲
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">手机型号:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <div class="radio pull-left">
            <label class="ui-checks">
              <input type="radio" name="a" value="android" ng-model="d">
              <i></i>
              Android
            </label>
          </div>
          <div class="radio pull-left m-l-md">
            <label class="ui-checks">
              <input type="radio" name="a" value="iOS" ng-model="d">
              <i></i>
              iOS
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-if="d == 'android'">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">标题:&nbsp;&nbsp;</label>
        <input type="text" class="form-control pull-left cus-inp-temp-t" style="width: 300px;">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">内容:&nbsp;&nbsp;</label>
        <textarea type="text" class="form-control pull-left cus-inp-temp-t" style="width: 400px;height: 100px;"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">对象:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <select ui-select2 ng-model="no2" data-placeholder="请选择对象">
            <option value=""></option>
            <option>一周内未启动app</option>
            <option>一月内未启动app</option>
            <option>一年内未启动app</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">位置:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <select ui-select2 ng-model="no3" data-placeholder="请选择位置">
            <option value=""></option>
            <option>一周内</option>
            <option>一月内</option>
            <option>一年内</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group m-b-xs text-center">
      <button type="submit" class="btn btn-primary btn-sm p-h-md m-v-lg m-r-lg">发送</button>
    </div>
  </form>
</div>