<div class="center-block w-xl w-auto-xs m-b-lg" style="width: 600px;">
  <form class="form-horizontal m-v-md" role="form">
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">手机型号1:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <div class="radio pull-left">
            <label class="ui-checks">
              <input type="radio" name="a" value="android" ng-model="d">
              <i></i>
              Android
            </label>
          </div>
          <div class="radio pull-left m-l-md">
            <label class="ui-checks">
              <input type="radio" name="a" value="iOS" ng-model="d">
              <i></i>
              iOS
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n" ng-if="d == 'android'">
        <label class="control-label pull-left cus-lb-temp-f">标题:&nbsp;&nbsp;</label>
        <input type="text" class="form-control pull-left cus-inp-temp-t" style="width: 300px;">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">内容:&nbsp;&nbsp;</label>
        <textarea type="text" class="form-control pull-left cus-inp-temp-t" style="width: 400px;height: 100px;"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">设备类型:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <select ui-select2 ng-model="no6" data-placeholder="请选择对象">
            <option value=""></option>
            <option>蓝牙指纹</option>
            <option>指纹蓝牙</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 p-h-n">
        <label class="control-label pull-left cus-lb-temp-f">设备版本:&nbsp;&nbsp;</label>
        <div class="pull-left cus-inp-temp-t" style="width: 200px">
          <select ui-select2 ng-model="no5" data-placeholder="请选择位置">
            <option value=""></option>
            <option>1.0.0</option>
            <option>2.0.0</option>
            <option>3.0.0</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group m-b-xs text-center">
      <button type="submit" class="btn btn-primary btn-sm p-h-md m-v-lg m-r-lg">发送</button>
    </div>
  </form>
</div>