<div class="navbar-header box-shadow-inset bg-brand">
  <button class="pull-right visible-xs" ng-click="mainVm.asideCollapse = !mainVm.asideCollapse">
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <a class="navbar-brand text-center">
    <!--<i class="glyphicon glyphicon-th-large text-md"></i>-->
    <span class="hidden-folded">Weker</span>
  </a>
</div>
<div class="collapse navbar-collapse hidden-xs hidden-sm">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <a href="javascript:;">{{mainVm.currentNav.title||'客户管理'}} <span>{{mainVm.currentNav.subTitle||'Customer Management'}}</span></a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="">
        <i class="fa fa-wrench banner-icon" style="top: 1px;"></i>
        <b class="badge badge-xs bg-warning up">12</b>
      </a>
    </li>
    <li>
      <a href="" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="true">
        <i class="glyphicon glyphicon-briefcase banner-icon"></i>
        <b class="badge badge-xs bg-warning up">3</b>
      </a>
      <ul class="dropdown-menu" role="menu" style="border: none;">
        <li class="text-center bg-danger" style="padding: 5px 0;">报修提示</li>
        <li>
          <a href="javascript:;">西溪水岸一单元5号机</a>
        </li>
        <li>
          <a href="javascript:;">西溪水岸一单元6号机</a>
        </li>
        <li>
          <a href="javascript:;">西溪水岸一单元7号机</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="true">
        <i class="glyphicon glyphicon-comment banner-icon" style=""></i>
        <!--<b class="badge badge-xs bg-warning up">3</b>-->
      </a>
      <ul class="dropdown-menu" role="menu" style="border: none;">
        <li class="text-center bg-danger" style="padding: 5px 0;">报修提示</li>
        <li>
          <a href="javascript:;">西溪水岸一单元5号机</a>
        </li>
        <li>
          <a href="javascript:;">西溪水岸一单元6号机</a>
        </li>
        <li>
          <a href="javascript:;">西溪水岸一单元7号机</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="" class="clear no-padding-h">
        <span class="m-l m-r-sm">用户: {{mainVm.wekerOperateUsername}}</span>
      </a>
    </li>
    <li class="m-r-xs">
      <a href="javascript:;" class="clear no-padding-h">
        <i class="fa fa-power-off" style="color: #f97a8c;position: relative;font-weight: 100;top: 2px;"  ng-click="mainVm.logout()"></i>
      </a>
    </li>
  </ul>
</div>