<div class="screen-box m-v-sm b-b p-v-sm">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-1 col-lg-1 control-label">登录时间:</label>
      <div class="col-md-4 col-lg-4">
        <input type="text" style="width: 45%;height: 32px;position: relative;top: 1px;padding-left: 6px;"
               ng-model="dt"
               data-date-format="yyyy-MM-dd"
               data-date-type="number"
               data-min-date="02/10/86"
               data-max-date="today"
               data-autoclose="1"
               bs-datepicker
               placeholder="请输入起始日期"
        />
        -
        <input type="text" style="width: 45%;height: 32px;position: relative;top: 1px;padding-left: 6px;"
               ng-model="dt2"
               data-date-format="yyyy-MM-dd"
               data-date-type="number"
               data-min-date="02/10/86"
               data-max-date="today"
               data-autoclose="1"
               bs-datepicker
               placeholder="请输入起始日期"
        />
      </div>
      <label class="col-md-1 col-lg-1 control-label">登录账号:</label>
      <div class="col-md-3 col-lg-2">
        <input type="text" class="form-control" placeholder="请填写账号">
      </div>
      <div class="col-md-2 col-lg-2">
        <button class="btn btn-primary btn-sm m-r-sm">搜索</button>
        <button class="btn btn-primary btn-sm m-l-sm">导出</button>
      </div>
    </div>
  </form>
</div>
<div class="table-box p-v-sm">
  <table ng-table="logVm.tableParams" class="table table-striped wk-table">
    <thead>
    <th>
      <div class="checkbox no-margin">
        <label class="ui-checks">
          <!--<span style="display: none">{{item.device.code}}</span>-->
          <!--<span style="display: none">{{item.device.id}}</span>-->
          <input type="checkbox">
          <i></i>
        </label>
      </div>
    </th>
    <th>登录时间</th>
    <th>登录账号</th>
    <th>IP地址</th>
    <th>参考地点</th>
    </thead>
    <tr ng-repeat="item in $data">
      <td>
        <div class="checkbox no-margin">
        <label class="ui-checks">
          <input type="checkbox">
          <i></i>
        </label>
        </div>
      </td>
      <td>{{item.loginTime}}</td>
      <td>{{item.loginAccount}}</td>
      <td>{{item.ip}}</td>
      <td>{{item.place}}</td>
    </tr>
  </table>
</div>
<div class="page-skip pull-left">
  <span>跳转至</span>
  <input type="number" class="form-control" id="pageBinding" min="1" ng-model="logVm.tableParams.page" ng-model-options="{ getterSetter: true }" style="width:80px;display: inline-block;">
  <span>页</span>
</div>