<div class="screen-box m-v-sm b-b p-v-sm">
  <form class="form-horizontal" role="form">
    <div class="form-group">

      <label for="name" class="col-md-1 col-lg-1 control-label">全局搜索:</label>
      <div class="col-md-5 col-lg-3">
        <input type="text" class="form-control" id="name"
               placeholder="请填写客户信息"
               ng-model="orderVm.query"
               ng-change="orderVm.updateFilteredList(orderVm.query)">
      </div>

      <label class="col-md-1 col-lg-1 control-label">购买产品:</label>
      <div class="col-md-2 col-lg-2">
        <select ui-select2 ng-model="orderVm.product"
                data-placeholder="请选择产品"
                ng-change="orderVm.updateFilteredList(orderVm.product)">
          <option value=""></option>
          <option ng-value="item" ng-repeat="item in orderVm.infoList.product">{{item}}</option>
        </select>
      </div>

      <label class="col-md-1 col-lg-1 control-label state-width">状态:</label>
      <div class="col-md-2 col-lg-2">
        <select ui-select2 ng-model="state" data-placeholder="请选择状态">
          <option value=""></option>
          <option ng-value="item" ng-repeat="item in orderVm.infoList.orderV_state">{{item}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
<div class="table-box p-v-sm">
  <table ng-table="orderVm.tableParams" class="table table-striped wk-table">
    <thead>
    <th>序号</th>
    <th>客户姓名</th>
    <th>手机号码</th>
    <th>客户类型</th>
    <th>客户渠道</th>
    <th>购买产品</th>
    <th>购买数量</th>
    <th>产品参数</th>
    <th>状态</th>
    <th>操作</th>
    </thead>
    <tr ng-repeat="item in $data">
      <td>{{$index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.type}}</td>
      <td>{{item.channel}}</td>
      <td>{{item.product}}</td>
      <td>{{item.amount}}</td>
      <td>
        <div>开门方向: {{item.param.direction}}</div>
        <div>锁体导片: {{item.param.daopian}}</div>
      </td>
      <td class="{{item.orderV_state_class}}">{{item.orderV_state}}</td>
      <td>
        <a href="javascript:;">详情</a>&nbsp;&nbsp;
        <a href="javascript:;" ng-click="orderVm.openModal('modal-odd', 'order.detailCtrl as detailVm')" ng-if="item.orderV_state == '待出货'">快递单号</a>
      </td>
    </tr>
  </table>
</div>
<div class="page-skip pull-left">
  <span>跳转至</span>
  <input type="number" class="form-control" id="pageBinding"
         ng-model="orderVm.page"
         style="width:80px;display: inline-block;">
  <span>页</span>
  <button class="btn btn-success btn-sm"
          style="margin-left: 5px;margin-top: -1px;"
          ng-click="orderVm.changePage(orderVm.page)">
    确定
  </button>
</div>