<form class="pagination-define">
  <uib-pagination total-items="$parent.tableState.pagination.totalItemCount"
                  items-per-page="$parent.tableState.pagination.number"
                  ng-model="$parent.tableState.pagination.currentPage"
                  ng-change="$parent.getData($parent.tableState.pagination.currentPage)"
                  max-size="$parent.tableState.pagination.totalItemCount/$parent.tableState.pagination.number"
                  class="pagination-sm" boundary-link-numbers="true"
                  boundary-links="true" rotate="false"
                  previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;" last-text="&raquo;">

  </uib-pagination>
  <div>
    跳转至
    <input type="text" style="width: 30px;"
           ng-model="$parent.tableState.pagination.inputCurPage"
           min=1
           my-max-number ="{{$parent.tableState.pagination.totalItemCount/$parent.tableState.pagination.number}}"
           current-page="{{$parent.tableState.pagination.currentPage}}"
    >
    页
    <button class="btn btn-primary btn-sm"
            ng-click="$parent.getData($parent.tableState.pagination.inputCurPage)"
            ng-disabled="!$parent.tableState.pagination.inputCurPage||$parent.tableState.pagination.inputCurPage==''">
      确定
    </button>
  </div>
</form>