<div class="screen-box m-v-sm b-b p-v-sm">
  <form class="form-horizontal" role="form">
    <div class="form-group">

      <label for="name" class="col-md-1 col-sm-4 control-label">
        全局搜索:
      </label>
      <div class="col-md-5 col-sm-8">
        <input type="text" class="form-control" id="name"
               placeholder="请填写客户信息"
               ng-model="customerVm.query"
               ng-change="customerVm.updateFilteredList(customerVm.query)">
      </div>

      <label class="col-md-1 col-sm-4 control-label">
        购买产品:
      </label>
      <div class="col-md-2 col-sm-8">
        <select ui-select2 ng-model="customerVm.product"
                data-placeholder="请选择产品"
                ng-change="customerVm.updateFilteredList(customerVm.product)">
          <option value=""></option>
          <option ng-value="item"
                  ng-repeat="item in customerVm.infoList.product">
            {{item}}
          </option>
        </select>
      </div>

      <label class="col-md-1 col-sm-4 control-label"
             style="width: 7%">
        状态:
      </label>
      <div class="col-md-2 col-sm-8">
        <select ui-select2 ng-model="state" data-placeholder="请选择状态">
          <option value=""></option>
          <option ng-value="item"
                  ng-repeat="item in customerVm.infoList.customerV_state">
            {{item}}
          </option>
        </select>
      </div>

    </div>
  </form>
</div>

<div class="table-box p-v-sm">
  <table ng-table="customerVm.tableParams" class="table table-striped wk-table">
    <thead>
    <th>序号</th>
    <th>客户姓名</th>
    <th>手机号码</th>
    <th>客户类型</th>
    <th>客户渠道</th>
    <th>购买产品</th>
    <th>购买数量</th>
    <th>产品参数</th>
    <th>状态</th>
    <th class="text-center">操作</th>
    </thead>
    <tr ng-repeat="item in $data">
      <td>{{$index}}</td>
      <td>{{item.name}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.type}}</td>
      <td>{{item.channel}}</td>
      <td>{{item.product}}</td>
      <td>{{item.amount}}</td>
      <td>
        <div>开门方向: {{item.param.direction}}</div>
        <div>锁体导片: {{item.param.daopian}}</div>
      </td>
      <td class="{{item.customerV_state_class}}">{{item.customerV_state}}</td>
      <td class="text-center">
        <a href="javascript:;" ng-click="customerVm.openModal('modal-detail', 'customer.detailCtrl as detailVm')">详情 </a>
        <span class="text-success cursor-pointer" ng-if="item.customerV_state_option[0]">通过 </span>
        <span class="text-danger cursor-pointer" ng-if="item.customerV_state_option[1]" ng-click="customerVm.openModal('modal-reject', 'customer.rejectCtrl as rejectVm')">拒绝</span>
      </td>
    </tr>
  </table>
</div>

<div class="page-skip pull-left">
  <span>跳转至</span>
  <input type="number" class="form-control" id="pageBinding" min="1" ng-model="customerVm.tableParams.page" ng-model-options="{ getterSetter: true }" style="width:80px;display: inline-block;">
  <span>页</span>
</div>
